.nav_log{
	font-family:arial_black;
}
ul {
	list-style:none
}
.panal_body2 img {
	padding:10px;
}
.fb_logo {
	padding-top:10px;
	padding-left:0px; 
	padding-right:0px
}
.news li{
	padding:5px;
}
a:hover{
	background-color:yellow;
}